<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card ">
        <div class="card-header ">
          User Management (Admin)
        </div>
        <div class="card-body ">
          
          <div class="card text-center">
            <div class="card-body">
              <button href="#" class="btn upload">Add User</button>
            </div>
          </div>

          <div class="card">
            <div class="card-header">
              <h4 class="card-title"> User-data </h4>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table">
                  <thead class=" text-primary">
                    <th>
                      Doctor Name
                    </th>
                    <th>
                      Phone
                    </th>
                    <th>
                      Address
                    </th>
                    <th>
                      Role 
                    </th>
                    <th class="text-right">
                      Actions 
                    </th>
                  </thead>
                  <tbody>
                    <tr>
                      <td>
                        -
                      </td>
                      <td>
                        -
                      </td>
                      <td>
                        -
                      </td>
                      <td>
                       -
                      </td>
                      <td class="text-right">
                        -
                       </td>
                    </tr>
                    <tr>
                      <td>
                        -
                      </td>
                      <td>
                        -
                      </td>
                      <td>
                        -
                      </td>
                      <td>
                       -
                      </td>
                      <td class="text-right">
                        -
                       </td>
                    </tr>
                    <tr>
                      <td>
                        -
                      </td>
                      <td>
                        -
                      </td>
                      <td>
                        -
                      </td>
                      <td>
                       -
                      </td>
                      <td class="text-right">
                        -
                       </td>
                    </tr>
                    <tr>
                      <td>
                        -
                      </td>
                      <td>
                        -
                      </td>
                      <td>
                        -
                      </td>
                      <td>
                       -
                      </td>
                      <td class="text-right">
                        -
                       </td>
                    </tr>
                    <tr>
                      <td>
                        -
                      </td>
                      <td>
                        -
                      </td>
                      <td>
                        -
                      </td>
                      <td>
                       -
                      </td>
                      <td class="text-right">
                        -
                       </td>
                    </tr>
                    <tr>
                      <td>
                        -
                      </td>
                      <td>
                        -
                      </td>
                      <td>
                        -
                      </td>
                      <td>
                       -
                      </td>
                      <td class="text-right">
                        -
                       </td>
                    </tr>
                    <tr>
                      <td>
                        -
                      </td>
                      <td>
                        -
                      </td>
                      <td>
                        -
                      </td>
                      <td>
                       -
                      </td>
                      <td class="text-right">
                        -
                       </td>
                    </tr>
                    
                  
                  </tbody>
                  
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
