<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
    <div class="row">
        <div class="col-md-12">
            <div class="card ">
                <div class="card-header heading">
                    Retinal Data Submission
                </div>
                <div class="card-body ">
                    <div class="card">
                        <h5 class="card-header">Browse the Retinal Data zip file for Submission</h5>
                        <div class="card-body">

                            <div class="input-group mb-3">
                                <div class="form-floating">
                                    <input type="file" name="filename" accept=".zip,.rar,.7zip" placeholder="Select .zip file"
                                         class="form-control" id="inputGroupFile02">
                                </div>
                                <button type="button" class="btn upload">Upload</button>
                            </div>
        
                            <button type="button" class="btn submit">Submit</button>
                            <button type="button" class="btn cancel">Cancel</button> 
                            
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </div>
</div> 