
.card-header {
    font-weight: bolder;
    font-size: larger;
}

.heading {
    align-items: center;
    align-content: center;
    text-align: center; 
}

.input-group{
    align-items: center;
    align-content: center;
    text-align: center;
}

.upload{
    background-color: rgb(6, 88, 13);
}

.submit{
    margin-left: 50px;
    margin-right: 30px;
    background-color: rgb(7, 67, 146);
}

.cancel{
    background-color: rgb(168, 24, 24);
}