


<div class="panel-header panel-header-sm">
    <!-- <canvas baseChart id="bigDashboardChart"  [datasets]="lineBigDashboardChartData"  [labels]="lineBigDashboardChartLabels"  [colors]="lineBigDashboardChartColors" [options]="lineBigDashboardChartOptions"  [chartType]="lineBigDashboardChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>  -->
</div>

<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card ">
        <div class="card-header ">
          Dashboard
        </div>
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Sign in to your account</h5>
            <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
            <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
            <!-- <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a> -->
            <div class="form-floating">
              <input
                type="email"
                class="form-control"
                placeholder="Username"
              />
              <!-- <label for="floatingInput"> -->
                <!-- <i class="fas fa-user"></i> -->
              <!-- </label> -->
             </div> 
             <div class="form-floating">
              <input
                type="password"
                class="form-control "
                placeholder="Email"
              />
              <!-- <label for="floatingPassword">Email</label> -->
            </div>
             <div class="form-floating">
              <input
                type="password"
                class="form-control "
                placeholder="Password"
              />
              <!-- <label for="floatingPassword">Email</label> -->
            </div> 
            <div class="form-floating">
              <input
                type="text"
                class="form-control"
                placeholder="Name"
              />
              <!-- <label for="floatingPassword">Name</label> -->
            </div>
    
            <div class="form-floating">
              <input
                type="password"
                class="form-control " 
                placeholder="Mobile number"
              />
              <!-- <label for="floatingPassword"></label> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
